<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="/static/plant.png" class="logo">
        </div>
        <div class="control">
        <div class="icon-container">
            <a href="/">
                <img src="/static/home.png" class="icon">
            </a>
        </div>
        <div class="icon-container">
            <img src="/static/gardener.png" class="icon">
        </div>
        </div>
    </header>

    <main>
        <!-- Content will be added here later -->
    </main>
</body>
</html>
